@reference "tailwindcss";

.layout {
  @apply min-h-screen flex;
}

.layout__main {
  @apply flex-1 lg:ml-64 min-h-screen bg-gray-50 overflow-x-auto flex flex-col;
}

.layout__content {
  @apply flex-1 p-4 bg-gray-100 sm:p-6 lg:p-8 pt-4 lg:pt-6;
}
